{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Annonces</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in pager %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.adverts | length }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_category_show', {'id': category.id}) }}">Détails</a>
                    <a class="btn btn-secondary" href="{{ path('app_category_edit', {'id': category.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary mb-3" href="{{ path('app_category_new') }}">Ajouter une nouvelle catégorie</a>
    {{pagerfanta(pager, 'twitter_bootstrap5')}}
{% endblock %}
