{% extends 'base.html.twig' %}

{% block title %}Liste des admins{% endblock %}

{% block body %}
    <h1>Liste des admins</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Email</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for admin_user in pager %}
            <tr>
                <td>{{ admin_user.id }}</td>
                <td>{{ admin_user.username }}</td>
                <td>{{ admin_user.email }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_admin_user_show', {'id': admin_user.id}) }}">Détails</a>
                    <a class="btn btn-warning" href="{{ path('app_admin_user_edit', {'id': admin_user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun utilisateur crée pour le moment</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary mb-3" href="{{ path('app_admin_user_new') }}">Ajouter un nouvel admin</a>
    {{pagerfanta(pager, 'twitter_bootstrap5')}}
{% endblock %}
