{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <h1>Annonce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ advert.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ advert.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ advert.content }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ advert.author }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ advert.email }}</td>
            </tr>
             <tr>
                <th>Catégorie</th>
                <td>{{ advert.category }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ advert.price }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ advert.state }}</td>
            </tr>
             <tr>
                <th>Date de publication</th>
                <td>{{ advert.publishedAt ?  advert.publishedAt| date('d-m-Y') : 'Non publié' }}</td>
            </tr>
        </tbody>
    </table>

    {% for image in advert.pictures %}
    <div>
        <img src="{{ vich_uploader_asset(image, 'file') }}" alt="{{advert.title}}" class="w-25 mb-2"">
       {# <img  src="{{asset('images/adverts/')}}{{image.path}}" alt="Img not found" /> #}
    </div>
{% endfor %}

    <a class="btn btn-secondary mt-3" href="{{ path('app_advert_index') }}">Retour</a>

    {# <a href="{{ path('app_advert_edit', {'id': advert.id}) }}">edit</a> #}

    {# {{ include('advert/_delete_form.html.twig') }} #}
{% endblock %}
